{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    "@babel/stage-0"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/stage-0"],
    }
  }
}
