{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    "stage-0"
  ],
  "plugins": ["external-helpers"],
  "env": {
    "test": {
      "presets": ["env", "stage-0"],
      "plugins": [
        ["transform-runtime", {
          "helpers": true,
          "polyfill": false
        }]
      ]
    }
  }
}
