{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "forceAllTransforms": true
    }],
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true
    }]
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        ["@babel/preset-stage-2", {
          "decoratorsLegacy": true
        }]
      ],
    }
  }
}
