{
  "root": true,
  "env": {
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "no-cond-assign": ["error", "except-parens"]
  },
  "extends": "airbnb-base"
}
