.tmp/
.nyc_output/
assets/
docs/
node_modules/
coverage/

npm-debug.log
yarn-error.log
.DS_Store

test/
.babelrc
.browserslistrc
.editorconfig
.eslintignore
.eslintrc
.travis.yml
babel.config.js
jsdoc.json
rollup.config.js
yarn.lock
